<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-stripe-alipay" version="1.0.13"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>StripeAlipay</name>
    <js-module name="StripeAlipay" src="www/StripeAlipay.js">
        <clobbers target="StripeAlipay" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="StripeAlipay">
                <!-- value：的值是对应的插件中StripeAlipay.java存放的全路径 -->
                <param name="android-package" value="com.unreal.world.stripealipay.StripeAlipay" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <!-- src:是插件里存放对应.java的路径， target-dir:安装插件时把.java文件存放的【目录】，要和上面的value路径对应 -->
        <source-file src="src/android/StripeAlipay.java" target-dir="src/com/unreal/world/stripealipay" />
        <source-file src="src/android/StripeAlipayManager.java" target-dir="src/com/unreal/world/stripealipay" />
        <source-file src="src/android/libs/alipaySdk-15.6.8-20191021122514.aar" target-dir="libs" />
        <!-- Add dependencies: app/build.gradle -->
        <framework src="src/android/StripeAlipay.gradle" custom="true" type="gradleReference"/>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <!-- The feature's name attribute should match what you specify as the JavaScript exec call's service -->
            <feature name="StripeAlipay">
                <param name="ios-package" value="CDVStripeAlipay" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVStripeAlipay.h" />
        <source-file src="src/ios/CDVStripeAlipay.m" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Stripe" />
            </pods>
        </podspec>
    </platform>
</plugin>