<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-stripe-alipay" version="1.0.3"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>stripeAlipay</name>
    <js-module name="stripeAlipay" src="www/stripeAlipay.js">
        <clobbers target="cordova.plugins.stripeAlipay" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="stripeAlipay">
                <param name="android-package" value="cordova-plugin-stripe-alipay.stripeAlipay" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/stripeAlipay.java" target-dir="src/com/unreal/world/stripeAlipay" />
    </platform>
</plugin>